<%- include('partials/header', { title: 'Players' }) %>
    <h1>Players List</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% players.forEach(player => { %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.email %></td>
            <td>
              <a href="/admin/edit-player/<%= player._id %>" class="btn btn-primary btn-sm">Edit</a>
              <a href="/admin/delete-player/<%= player._id %>" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('partials/footer') %>
